body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff1e1;
  padding: 20px;
  text-align: center;
}
header h1 {
  font-size: 50px;
}
h2{
  text-align: center;
}
h1{
  font-family: Crimson Text, serif;
}
main {
  /* padding: 20px; */
  background-color: rgb(245, 233, 220);
  position: relative;
}
.question-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: background-color 1s ease-in-out;
}
.question-card:hover {
 background-color: #ffcdcd;
}

.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.slide {
  width: 100px; 
  height:500px ;
  margin:10px;
  border-radius: 50px;
  background: url(./images/1_cover.jpg);
  background-size: cover ;
  background-position: center;
  position: relative;
  transition: width 0.5s;
}

.slide:nth-child(2) {
  background: url(./images/2_cover.jpg);
  background-size: cover ;
  background-position: center;
}
.slide:nth-child(3) {
  background: url(./images/3_cover.jpg);
  background-size: cover ;
  background-position: center;
}
.slide:nth-child(4) {
  background: url(./images/4_cover.jpg);
  background-size: cover ;
  background-position: center;
}
.slide:nth-child(5) {
  background: url(./images/5_cover.jpg);
  background-size: cover ;
  background-position: center;
}
.slide:nth-child(6) {
  background: url(./images/6_cover.jpg);
  background-size: cover ;
  background-position: center;
}
.slide:nth-child(7) {
  background: url(./images/7_cover.jpg);
  background-size: cover ;
  background-position: center;
}
.slide:nth-child(8) {
  background: url(./images/8_cover.jpg);
  background-size: cover ;
  background-position: center;
}
.slide h3{
    color: #ffff;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
.slide:hover{
    width:300px;
    cursor: pointer;
}
.slide:hover h3{
    opacity: 1;
    bottom: 25px;
}

header a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

header a:link {
  color: #530101;
}

header a:visited {
  color: #7a1664;
}

header a:focus {
  border-bottom: none;

}

header a:hover {
  color: #ffcbe4;
  background: none;
}
a {
  color: #000000;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}
.slide a{
  color: #fff;
}
a:hover {
  color: #7c7c7c;
}

a:link {
  color: #f0fce6;
}



.lists a {
  color: #530101;
}
.lists a:hover {
  color: #ff8fc5;
}

.link {
  position: relative;
}
.link:after {
  position: absolute;
  content: '';
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #ffcbe4;
  transition: .3s;
}

.link::after {
  left: 50%;
  transform: translateX(-50%);
}
.link:hover:after {
  width: 100%;
}

#questions{
  min-height: 500px;
  background-image: url(./images/back2.jpg);
}
#questions .contanier{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#questions h3{
  color: #ffffff;
  font-size: 30px;
  

}
#questions a{
  color: #ffffff;
}
#questions h3:hover{
  color: #4a012e;
}
#questions a:hover{
  color: #4a012e;
}
#questions h2{
  color: #ffffff;
}


footer {
  text-align: center;
  padding: 10px;
  background-color: #fff1e1;
}
/* footer {
  text-align: center;
  padding: 10px;
  background-color: #fff1e1;
  width:100%;
   height:60px;
  position:absolute;
  bottom:0;
} */

.lists{
  padding:100px 15px;
}
.list h2{
  margin-bottom: 5rem;
}
.timeline-dot{
  height: 21px;
  width: 21px;
  background-color: #4a012e;
  box-shadow: 0 0 25px #4a012e,
  0 0 50px #4a012e;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline{
  max-width: 1200px;
  margin:auto;
  display:flex;
  flex-wrap: wrap;
  position:relative;
}
.timeline::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #4a012e;
  left:50%;
}
.timeline-item{
  margin-bottom: 40px;
  width:100%;
  position: relative;
}
.timeline-item:last-child{
  margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}
.timeline-date{
  font-size: 20px;
  color: #530101;
  margin: 6px 0 15px;
}
.timeline-content{
  padding: 30px 50px;
  border-radius: 4rem;
  cursor:pointer;
  transition: 0.5s ease-in-out;
}
.timeline-content:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px #4a012e;
}
.timeline-content h5{
  font-size: 20px;
  color:#000000;
  margin:0 0 10px;
}







.view_item img{
	width: 75px;
}

.wrapper{
	width: 800px;
	margin: 0px auto;
}

.links{
  background-color: rgb(245, 233, 220);
	padding: 15px;
}

.links ul{
	display: flex;
	justify-content: center;
}

.links ul li{
	margin: 0 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	cursor: pointer;
}

.links ul li:hover,
.links ul li.active{
	color: #530101;
}

.view_main{
	background-color: rgb(245, 233, 220);
	border-radius: 3px;
	padding: 15px;
}

.view_main img{
  border-radius: 20%;
  padding: 10px;
}
.list-view .view_item {
	background: #fff;
	border: 1px solid #e2efe1;
	margin: 10px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
  cursor:pointer;
  transition: 0.5s ease-in-out;
}
.list-view .view_item:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px #4a012e;
}

.list-view .view_item:last-child{
	margin-bottom: 0;
}

.list-view .view_item .vi_left{
	margin-right: 25px;
}

.view_item .title{
	font-weight: 600;
}

.view_item .content{
	margin: 5px 0;
	font-size: 14px;
	line-height: 22px;
	font-weight: 200;
}



.grid-view{
	width: 100%;
}

.grid-view .view_item {
  background-color: #ffffff;
	display: inline-block;
    border: 1px solid #e2efe1;
    width: 230px;
    text-align: center;
    margin: 10px;
    cursor:pointer;
  transition: 0.5s ease-in-out;
}
.grid-view .view_item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #4a012e;
}
.grid-view .view_item .vi_left{
	margin-bottom: 10px;
}

.grid-view .view_item .btn{
	margin: 0 auto;
}








.wrap{
	width: 1000px;
	margin: 0px auto;
  text-align: center;
}
.view{
	background: #DCDCDC;
	border-radius: 3px;
	padding: 15px;
}


#columns {
 
  column-width: 220px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
}

div#columns figure {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
display: inline-block;
column-break-inside: avoid;
}

div#columns figure img {
  width: 100%; height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

div#columns figure figcaption {
font-size: .9rem;
  color: #444;
line-height: 1.5;
}

div#columns small { 
font-size: 1rem;
float: right; 
text-transform: uppercase;
color: #aaa;
} 

div#columns small a { 
color: #666; 
text-decoration: none; 
transition: .4s color;
}

div#columns:hover figure:not(:hover) {
  opacity: 0.4;
}

/* кнопки на странице с работами */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
   color: white;
}
/*Фильтратор в галерее*/

* {
    box-sizing: border-box;
}

.row {
    margin: 10px -16px;
}

.column {
    display: none; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.show {
  display: block;
}





















/* #header {
  width: 990.08;
    height: 250px;
  background-color: #c7b39b;
  background-image: url(../img/шапка.jpg);
    overflow:hidden;	​​​​​​​
}

#container {	
    margin: auto auto;
    text-align:center;
    width: 990.08;    
}

#navigation {
    background: #DCDCDC ;
    width: 990.08;
    height: 25px;
  margin-bottom:1%;
  margin-top:1%;
}

#sidebar {
    background: #DCDCDC;
    float: left;
    width: 198.01;
  margin: 0 auto; 
  display: inline-block;
}

#content {
    background: #DCDCDC;
    float: right;
    width: 772.26;
  display: inline-block;
  
}


#clear {
    clear: both;
}

#footer {
   background:#c7b39b ;
 width: 990.08;
 height: 40px;
 flex: 0 0 auto;
 box-sizing: border-box;
 
}
h1{
color: #000;
font: 60px Trade Gothic Bold No.2 ;
margin: 2%;
text-align: left;
padding: 2% 5%  3% 1%;
}
/*стрелка наверх*/
/* .scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
transform: translateX(-311pt);
display:none;
text-indent:-9999px;
background: url(../img/icon_top.png) no-repeat;
}
ul {
 list-style-type:none;
 margin: 5% 0% 5% 0%; 
 text-align: left; 
 padding: 0px; 
}
a {text-decoration: none; 
  color:#000 ;
}
a.nav {text-decoration: none; 
  color:#000 ;
  padding: 0px 10px;
}
a.actnav{text-decoration: none;
background-color: lavender;
padding: 0px 20px;
}
a.actnav:hover {text-decoration: underline;
background-color: lavender;
padding: 2px 20px;
}
a.nav:hover {text-decoration: underline;
background-color: lavender;
padding: 2px 20px;
}

nav.menu {
 text-align: center;
 font:70% Spectral SC;
   
}
h2.zagl{
 display: block;
   font-size: 1.1em;
   margin:1;	
 font-family: 'Noto Sans', sans-serif;
   color: #000;
   text-align: center;
}
}
p.p1{
   font-size: 3vh;
   padding-top: 1%;
 text-align: center;
}
p.p2{
   font-size: 3vh;
 text-align: justify;
 margin:0pt 30pt 10pt 30pt;
 font-family: 'Noto Sans', sans-serif;
 font-size: 1em;
}
li.navigation {
 text-align: left;
 font:16pt 'Manrope', sans-serif;	
}
p.content{
 padding: 10px 30px 10px 30px;
 margin:1pt ;
 text-align: justify;
   font-family: 'Noto Sans', sans-serif;
 font-size: 0.7em;
}
 
h3 {
   margin: 0;
 font-family: 'Noto Sans', sans-serif;
 font-size: 1.0em;
 text-align:center;
 clear: both;
}

.biophoto1{
   margin: 20px 10px 0px 30px; 
   width: 250.82;
   float: left;
}
.biophoto2{
   margin: 0vh;
   width: 891.06;
 margin: 10pt;
}
.category-wrap ul {
 list-style: none;
 margin: 0;
 padding: 0; 
 border-top: 1px solid rgba(0,0,0,.3);
}
.category-wrap li {margin: 12px 0 0 0px;}
a.navigation{
 color: #000;
 padding: 10px 30px;
 background-color: lavender;
 border-bottom: 5px solid #5757a0;
} 
a.navigation {
 text-decoration: none;
 display: block;  
 color: rgba(0,0,0,.6);
 padding: 5px;
 position: relative;
 transition: .3s linear;
}
a.navigation:after {
 
 font-family: FontAwesome;
 position: absolute;
 right: 5px;
 color: white;
 transition: .2s linear;
}
a.navigation:hover {
 background: #80C8A0;
 color: white;
}
@font-face{font-family:'Noto Sans', sans-serif;
}

#columns {
 
   column-width: 220px;
   column-gap: 15px;
   width: 90%;
   max-width: 1100px;
   margin: 30px auto;
}

div#columns figure {
   background: #fefefe;
   border: 2px solid #fcfcfc;
   box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
   margin: 0 2px 15px;
   padding: 15px;
   padding-bottom: 10px;
   transition: opacity .4s ease-in-out;
 display: inline-block;
 column-break-inside: avoid;
}

div#columns figure img {
   width: 100%; height: auto;
   border-bottom: 1px solid #ccc;
   padding-bottom: 15px;
   margin-bottom: 5px;
}

div#columns figure figcaption {
 font-size: .9rem;
   color: #444;
 line-height: 1.5;
}

div#columns small { 
 font-size: 1rem;
 float: right; 
 text-transform: uppercase;
 color: #aaa;
} 

div#columns small a { 
 color: #666; 
 text-decoration: none; 
 transition: .4s color;
}

div#columns:hover figure:not(:hover) {
   opacity: 0.4;
}

@media screen and (max-width: 750px) { 
 #columns { column-gap: 0px; }
 #columns figure { width: 100%; }
}

.bio{
   float: right;
   padding: 7px; 
   margin: 20px 30px 0px 10px; 
   background: #f0f0f0; 
    
  }
.bio2{
   float: left;
   padding: 7px; 
   margin: 20px 10px 5px 30px; 
   background: #f0f0f0; 	   
  }
.bio figcaption {
   margin: 0 auto 5px;
 font-size:12pt;
 font-family: 'Noto Sans', sans-serif;
}
.bio2 figcaption {
   margin: 0 auto 5px;
 font-size:12pt;
 font-family: 'Noto Sans', sans-serif;
}
.articles figcaption {
   margin: 0 auto 5px;
 font-size:12pt;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* кнопки на странице с работами */
/* .btn {
 border: none;
 outline: none;
 padding: 12px 16px;
 background-color: white;
 cursor: pointer;
}
.btn:hover {
 background-color: #ddd;
}

.btn.active {
 background-color: #666;
  color: white;
} */
/*Фильтратор в галерее*/

/* * {
   box-sizing: border-box;
}

.row {
   margin: 10px -16px;
}

.column {
   display: none; 
} */
/* Clear floats after rows */ 
/* .row:after {
   content: "";
   display: table;
   clear: both;
} */

/* The "show" class is added to the filtered elements */
/* .show {
 display: block;
}  */